html {
font-family:'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
height: 100%;
}

h1 {
text-align: center;
font-weight:normal;
}

.moreinfo {
display: none;
}

#main {
margin-bottom:20px;
}

.morelink {
float:right;
}

h4 {
font-size: 11pt;
}

input {
width:150px
}

#info a:link {color: #444; text-decoration: none; font-size: 11pt; }
#info a:active {color: #666; text-decoration: none; }
#info a:visited {color: #444; text-decoration: none; }
#info a:hover {color: #666; text-decoration: none; }

#header {
background-color: #ff3333;
color: #ffffff;

}


#nrwpanel
{
	width:200px;
	margin:20px auto;
	text-align:center;
	padding:15px;
	border:1px solid #333;
}


#latencypanel
{
        padding:15px;
	width:900px;
	margin-top:1em;
	margin:20px auto;
	text-align:center;
	border:1px solid #333;
}

h3 {
text-align: center;
font-weight: normal;
}

span.axis-label{
font-size:smaller;
color:#545454;
}

span.graph-label{
text-align: center;
float:center;
line-height:30px;
}


li { 
margin-top: 1.5em; 
font-size: 1em;
}

